[:root>
 :#css
 ["/node_modules/todomvc-common/base.css"
  "/node_modules/todomvc-app-css/index.css"]
 :#style
 {:display "block"}
 [:section.todoapp
  [:header.header
   [:h1 "todos"]
   [:input.new-todo
    :placeholder
    "What needs to be done?"
    :autofocus
    true
    :value
    "Foo"
    :#on
    {:input
     {:props {},
      :effects
      [[:zero.dom/dispatch
        :patch
        :data
        {:path [:input],
         :change
         [:value {:key :zero.core/ctx, :args [:zero.core/data]}]}]]},
     :keydown
     {:props {},
      :effects
      [[:zero.core/choose
        {"Enter"
         [[:zero.dom/dispatch
           :patch
           :data
           [{:path [:items], :change [:conj {:text "Foo"}]}
            {:path [:input], :change [:value ""]}]]]}
        {:key :zero.core/ctx, :args [:zero.core/data :key]}]]}}]]
  nil
  nil]
 [:footer.info
  [:p "Double-click to edit a todo"]
  [:p "Created by " [:a {:href "http://github.com/raystubbs"} "Ray"]]
  [:p "Part of " [:a {:href "http://todomvc.com"} "TodoMVC"]]]]
