{:deps {:aliases [:test-cljs]}
 
 :builds
 {:browser-tests
  {:target :esm
   :output-dir "target/browser-tests"
   :ns-regexp "^zero[.]browser[.].+[-]test$"
   :modules {:all {:entries [zero.browser.component-test]}}}
  
  :node-tests
  {:target :node-test
   :ns-regexp "^zero[.]clj[cs][.].+[-]test$"
   :output-to "target/node-tests.js"}}}