{:deps {:aliases []}
 :dev-http {8000 "pub"}
 :builds {:demo
          {:target :browser
           :output-dir "pub/js"
           :asset-path "/js"
           :compiler-options {:infer-externs true :warnings {:redef false}}
           :devtools {:watch-dir "pub/css" :watch-path "/css"}
           :modules {:main {:init-fn demo/init}}}}}